@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,600&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    background-repeat: no-repeat;
overflow: hidden;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    /* height: 54vh; */

}

section {
    /* height: 60vh; */
    margin-top: 22%;
    margin-left: 50%;
    transform:translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(75, 74, 74, 0.918);
    color: rgb(0, 0, 0);

}

section h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 1%;
}

.centerdiv{
font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2%;
    align-items: center;
    text-align: center;
}

.name{
    padding: 1%;
    font-size: 20px;
}

#nameid{
    width: 40%;
    border:1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

#imgchnge{
padding: 2%;
}

button{
    font-family: 'Open Sans', sans-serif;
    border: 0;
    border-radius: 30px;
    background: #ffffff;
    box-shadow:  13px 13px 26px #c9c9c9,
                 -13px -13px 26px #ffffff;
    width: 120px;
    height: 50px; 
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: translateY(-5px);
}

@media screen and (max-width:478px) {
    body{
        height: 100vh;
    }
    section{
        font-size: 10px;
        width: 80%;
        margin-top:23%;
        transform:translateX(-50%);
    }

    .name{
        padding: 2%;
        font-size: 12px;
    }

    #nameid{
        width: 50%;
        border:1px solid #ddd;
        border-radius: 3px;
        outline: 0;
        padding: 2%;
        background-color: #fff;
        box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    }
    #imgchnge{
        padding: 20px;
        width: 150px;
        height: 150px;
    }
    button{
        border: 0;
        border-radius: 59px;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  22px 22px 44px #cfcfcf,
                     -22px -22px 44px #ffffff;
        height: 40px;
        width: 120px;
        padding: 1%;
    }
    button:hover{
        cursor: pointer;
        transform: translateY(0px);
        color: #000;
        
    }
}